<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置别名 -->
    <typeAliases>
    	<package name="top.tamlong.po"/>
    </typeAliases>
    <!-- 配置mapper的位置 -->
    <mappers>
    	<!-- 这里mapper文件位置 -->
    	<mapper resource="top/tamlong/po/CustomerMapper.xml"/>
    </mappers>
</configuration>